target
*.iws
*.iml
*.ipr
lib_managed
project/boot
project/plugins/project
project/plugins/src_managed
.idea
.ensime
.ensime_port
.ensime_cache
.ensime_session
project/target

# Eclipse
.classpath
.project
.settings
.cache
